body {
    background-color: rgb(128, 90, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

img {
    width: 300px;
    height: auto;
    cursor: pointer;
}